@charset "utf-8";

/* 인기검색어 */
#popular {padding:20px;background:#f7f7f7}
#popular h2 {display:inline-block;margin:0 0 10px}
#popular a {display:inline-block;height:22px;line-height:22px;font-size:0.8em;background:#3e976c;color:#fff;margin:2px 0;padding: 0 5px;border-radius:3px}
#popular a:hover {background:#348a61}